<div class="flex flex-col group border border-red-400" data-controller="copy">
  <div class="flex-1 pl-2" data-copy-target="text">
    <%= content %>
  </div>
  <div class="flex mt-2">
    <button data-copy-target="button" 
            data-action="click->copy#copy"
            class="bg-sky-400 text-black py-1 px-2 text-sm">
      Copy text
    </button>
  </div>
</div>