<div class="grid grid-cols-12 gap-2">
  <div class="col-span-3 bg-gray-200">
    <%= render partial: 'navigation' %>
  </div>
  <div class="col-span-9 bg-gray-300">
    <%= render partial: 'show' %>
  </div>
</div>
